{% extends "layouts/base.html" %}

{% block title %}Arbeidsdager{% endblock %}
{% block description %}Har du fastlønn og ingen overtid? Lurer du på hvor mange timer du kan flekse ut? Da er denne kalkulatoren for deg.{% endblock %}

{% block content %}
{% set checked = query.to is not defined %}
{% set default_to = now() | date(format="%Y-%m-%d") %}
{% set to = query.to | default(value=default_to) %}
{% set year = to | split(pat="-") | first %}
<main role="document" class="document-width" data-init="$year={{ year }}">
  <article id="arbeidsdager">
    <header>
      {{ markdown(name = "arbeidsdager/header.md") | safe }}
    </header>

    <form method="get" action="/arbeidsdager" data-init on:submit="thorsen.calculateWorkingDays(evt)">
      <table>
        <thead>
          <tr>
            <th>&nbsp;</th>
            <th>Beskrivelse</th>
            <th>Antall</th>
            <th>Inkluder</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>&nbsp;</td>
            <td class="pre"><strong>{{ year }}-01-01</strong> til <input name="to" type="text" value="{{ to }}"></td>
            <td class="pre"><span class="total-days">&mdash;</span> dager</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>—</td>
            <td>Feriedager du har brukt</td>
            <td><input name="vacation_days" type="number" value="{{ query.vacation_days | default(value=0) }}"></td>
            <td>Ja</td>
          </tr>
          <tr>
            <td>—</td>
            <td>Lør- og søndager</td>
            <td><span class="total-weekends">&mdash;</span> dager</td>
            <td><input type="checkbox" name="weekends" {% if query.weekends | default(value=checked) %}checked{% endif %}></td>
          </tr>
          <tr>
            <td>—</td>
            <td>Hellig- og høytidsdager</td>
            <td><span class="total-holidays">&mdash;</span> dager</td>
            <td><input type="checkbox" name="holidays" {% if query.holidays | default(value=checked) %}checked{% endif %}></td>
          </tr>
          <tr>
            <td>—</td>
            <td>Inneklemte dager i påsken</td>
            <td><span class="total-easter">&mdash;</span> dager</td>
            <td><input type="checkbox" name="easter" {% if query.easter | default(value=false) %}checked{% endif %}></td>
          </tr>
          <tr>
            <td>—</td>
            <td>Inneklemte dager i julen</td>
            <td><span class="total-christmas">&mdash;</span> dager</td>
            <td><input type="checkbox" name="christmas" {% if query.christmas | default(value=false) %}checked{% endif %}></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td>=</td>
            <td>Arbeidsdager</td>
            <td class="pre"><span class="total-working-days">&mdash;</span> dager</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>=</td>
            <td>Arbeidstid * 7,5t/dag</td>
            <td class="pre"><span class="total-working-hours">&mdash;</span> timer</td>
            <td>&nbsp;</td>
          </tr>
        </tfoot>
      </table>
      <p><button class="button">Regn ut</button></p>
    </form>

    <h2>Helligdager</h2>
    <table id="holidays-table" data-effect="@get(`/arbeidsdager/table/${$year}`)">
      <tbody>
        <tr><td>Laster data...</td></tr>
      </tbody>
    </table>
    <blockquote>Tabellen over er hentet fra <a href="https://webapi.no/">webapi.no</a>.</blockquote>
  </article>
</main>
{{ script(src="/arbeidsdager/arbeidsdager.js", nonce=nonce) | safe }}
{% endblock %}
