{% extends "layouts/base.html" %}

{% block content %}
<main role="document" class="document-width">
  <article id="{{ article.id | slugify }}"
    {% if article.boosted == "false" %}
      >
    {% else %}
      hx-boost="true" hx-indicator="#loader">
    {% endif %}

    {% if article.header %}
      <header>
        {{ markdown(name = article.header) | safe }}
      </header>
    {% endif %}

    {{ article.content | safe }}

    {% if article.footer %}
      <footer>
        {{ markdown(name = article.footer) | safe }}
      </footer>
    {% endif %}
  </article>
</main>
{% endblock %}
