<!DOCTYPE html>
<html lang="en">
  <head>
    {% if not csr %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'nonce-{{ nonce }}'">
      <meta name="ssr-headers" content="'x-nonce':'{{ nonce }}'">

      {% if base_url is defined %}
        <meta name="twitter:site" content="0">
        <meta name="twitter:card" content="summary">
        <meta property="og:determiner" content="a">
        <meta name="twitter:url" content="{{ base_url | safe }}{{ path | replace(from=".html", to="") | safe }}">
        <meta property="og:url" content="{{ base_url | safe }}{{ path | replace(from=".html", to="") | safe }}">
        <link rel="canonical" href="{{ base_url | safe }}{{ path | replace(from=".html", to="") | safe }}"/>
      {% endif %}
    {% endif %}

    {% if article is defined %}
      <title>{% block title %}{{ article.title }}{% endblock title %} - Thorsenlabs</title>
      <meta name="twitter:title" content="{% block title %}{{ article.title }}{% endblock %}">
      <meta property="og:title" content="{% block title %}{{ article.title }}{% endblock %}">
      {% if article.description | length %}
        <meta name="description" content="{% block description %}{{ article.description }}{% endblock %}">
        <meta name="twitter:description" content="{% block description %}{{ article.description }}{% endblock %}">
        <meta property="og:description" content="{% block description %}{{ article.description }}{% endblock %}">
      {% else %}
        <meta name="description" content="{% block description %}{{ article.ingress | truncate(length=128) }}{% endblock %}">
        <meta name="twitter:description" content="{% block description %}{{ article.ingress | truncate(length=128) }}{% endblock %}">
        <meta property="og:description" content="{% block description %}{{ article.ingress | truncate(length=128) }}{% endblock %}">
      {% endif %}
    {% elif base_url is defined and path is defined %}
      <title>{% block title %}Missing title{% endblock %} - Thorsenlabs</title>
      <meta name="twitter:title" content="{% block title %}Missing title{% endblock %}">
      <meta property="og:title" content="{% block title %}Missing title{% endblock %}">
      <meta name="description" content="{{ path | replace(from="/", to=" ") | title }}">
      <meta name="twitter:description" content="{{ path | replace(from="/", to=" ") | title }}">
      <meta property="og:description" content="{{ path | replace(from="/", to=" ") | title }}">
    {% endif %}

    {% if not csr %}
      {% block social_image %}
        {% if base_url is defined %}
          <meta name="twitter:image" content="{{ base_url | safe }}/images/jht-profilbilde-e1553101127296-768x693.jpg">
          <meta property="og:image" content="{{ base_url | safe }}/images/jht-profilbilde-e1553101127296-768x693.jpg">
        {% endif %}
      {% endblock %}

      <link rel="stylesheet" href="/css/pico@2.1.1.min.css">
      <style>
        {{ slurp(name="css/override.css", fallback="/* override.css */") | safe }}
      </style>
    {% endif %}
    {% if article is defined %}
      <style nonce="{{ nonce }}">
        {{ slurp(name=article.scoped_css, fallback="/* not found */") | safe }}
      </style>
    {% endif %}
  </head>
  <body data-init @ssr:fetch-error="@dispatch(document, 'ssr:sse-patch-elements', {detail:{data:notification(evt.detail.error)}})">
    {% block header %}
    <header id="header">
      <div class="nav-wrapper document-width">
        <nav>
          <ul>
            <li>
              <a href="/" class="brand">
                <img src="/images/brand.png" alt="Profile picture of Jan Henning Thorsen"> Thorsenlabs
              </a>
            </li>
          </ul>
          <ul>
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
  {% endblock %}

  {% block content %}<p>content missing!</p>{% endblock %}

  <div id="notifications" data-preserve></div>
  <progress id="loader" data-preserve></progress>

  {% block footer %}
    <footer id="footer">
      <div class="document-width">
    {% filter markdown %}
&copy; 2024 - Powered by Me,
[Hetzner](https://www.hetzner.com)
and [Rust](https://www.rust-lang.org/).
    {% endfilter %}
      </div>
    </footer>
  {% endblock %}

{% if not csr %}
  <script nonce="{{ nonce }}" src="/js/ssr@0.0.2.js"></script>
  <script nonce="{{ nonce }}">
    function notification(message) {
      return `<div class="notification" data-init="@debounce(@destroy(el), 3000)" data-swap="append:#notifications">${message}</div>`
    }

    ((thorsen) => {
      const header = document.querySelector('#header');
      const headerHeight = header.offsetHeight;
      let lastScroll = 0;

      window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;

        if (!currentScroll) {
          header.classList.remove('animate');
          header.classList.remove('scrolled');
          header.classList.remove('show');
        }
        else if (Math.abs(currentScroll - lastScroll) < headerHeight) {
          return;
        }
        else if (currentScroll < lastScroll) {
          header.classList.add('animate');
          header.classList.add('show');
        }
        else {
          header.classList.add('scrolled');
          header.classList.remove('show');
        }

        lastScroll = currentScroll;
      });


    })(window.thorsen || (window.thorsen = {}));
  </script>
  <script nonce="{{ nonce }}" type="module">
    ((thorsen) => {
      thorsen.syntaxHighlight = async () => {
        const $code_blocks = document.querySelectorAll("pre > code");
        if ($code_blocks.length === 0) return;

        const {codeToHtml} = await import('https://esm.sh/shiki@1.0.0');
        for (const $code_block of $code_blocks) {
          try {
            const lang = $code_block.className.replace(/.*language-(\w+).*/, "$1");
            const $pre = $code_block.closest("pre") || $code_block;
            $pre.outerHTML = await codeToHtml($code_block.innerText, {
              lang: lang || "yaml",
              theme: "tokyo-night",
            });
          } catch (err) {
            console.error($code_block, err);
          }
        }
      };

      document.addEventListener('ssr:init', () => thorsen.syntaxHighlight());
      thorsen.syntaxHighlight();
    })(window.thorsen || (window.thorsen = {}));
  </script>
{% endif %}
</body>
</html>
