{% if not htmx.boosted %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>thorsen.pm</title>
    {% if base_url is defined and path is defined %}
    <link rel="canonical" href="{{ base_url }}{{ path | replace(from=".html", to="") }}"/>
    {% endif %}
    <link rel="stylesheet" href="/css/pico2.jade.min.css">
    {% include "css/override.html" %}
  </head>
  <body hx-on:htmx:response-error="thorsen.onResponseError(event)">
{% endif %}
{% if htmx.boosted %}
  <header id="header" hx-preserve="true"></header>
{% else %}
  {% block header %}
    <header id="header">
      <div class="document-width" hx-boost="true">
        <nav>
          <ul>
            <li>
              <a href="/" class="brand">
                <img src="/images/brand.png" alt="Profile picture of Jan Henning Thorsen"> thorsen.pm
              </a>
            </li>
          </ul>
          <ul>
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
  {% endblock %}

  <dialog id="error_dialog">
    <article>
      <header>
        <h2>Error</h2>
      </header>
      <p>Unknown error.</p>
      <footer>
        <button class="secondary" hx-on:click="thorsen.error()">Close</button>
      </footer>
    </article>
  </dialog>
{% endif %}

{% block content %}<p>content missing!</p>{% endblock %}

{% if htmx.boosted %}
  <footer id="footer" hx-preserve="true"></footer>
{% else %}
  {% block footer %}
    <footer id="footer">
      <div class="document-width">
    {% filter markdown %}
&copy; 2024 - Powered by
[Trafikkmaskin](https://trafikkmaskin.no/),
[htmx](https://htmx.org/) and
[Rust](https://www.rust-lang.org/).
    {% endfilter %}
      </div>
    </footer>
  {% endblock %}

  <script src="/js/htmx.org@1.9.6.js"></script>
  <script>
    ((thorsen) => {
      thorsen.error = (err) => {
        const dialog = document.getElementById("error_dialog");
        if (err) {
          dialog.querySelector("p").innerText = err;
          dialog.showModal();
        }
        else {
          dialog.close();
        }
      };

      thorsen.onResponseError = ({detail}) => {
        window.thorsen.error(detail.error);
      };
    })(window.thorsen || (window.thorsen = {}));
  </script>
</body>
</html>
{% endif %}
