<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

    {% if base_url is defined %}
      <meta name="twitter:site" content="0">
      <meta name="twitter:card" content="summary">
      <meta property="og:determiner" content="a">
      <meta name="twitter:url" content="{{ base_url | safe }}{{ path | replace(from=".html", to="") | safe }}">
      <meta property="og:url" content="{{ base_url | safe }}{{ path | replace(from=".html", to="") | safe }}">
      <link rel="canonical" href="{{ base_url | safe }}{{ path | replace(from=".html", to="") | safe }}"/>
    {% endif %}

    {% if article is defined %}
      <title>{% block title %}{{ article.title }}{% endblock title %} - Thorsenlabs</title>
      <meta name="twitter:title" content="{% block title %}{{ article.title }}{% endblock %}">
      <meta property="og:title" content="{% block title %}{{ article.title }}{% endblock %}">
      {% if article.description | length %}
        <meta name="description" content="{% block description %}{{ article.description }}{% endblock %}">
        <meta name="twitter:description" content="{% block description %}{{ article.description }}{% endblock %}">
        <meta property="og:description" content="{% block description %}{{ article.description }}{% endblock %}">
      {% else %}
        <meta name="description" content="{% block description %}{{ article.ingress | truncate(length=128) }}{% endblock %}">
        <meta name="twitter:description" content="{% block description %}{{ article.ingress | truncate(length=128) }}{% endblock %}">
        <meta property="og:description" content="{% block description %}{{ article.ingress | truncate(length=128) }}{% endblock %}">
      {% endif %}
    {% elif base_url is defined and path is defined %}
      <title>{% block title %}Missing title{% endblock %} - Thorsenlabs</title>
      <meta name="twitter:title" content="{% block title %}Missing title{% endblock %}">
      <meta property="og:title" content="{% block title %}Missing title{% endblock %}">
      <meta name="description" content="{{ path | replace(from="/", to=" ") | title }}">
      <meta name="twitter:description" content="{{ path | replace(from="/", to=" ") | title }}">
      <meta property="og:description" content="{{ path | replace(from="/", to=" ") | title }}">
    {% endif %}

    {% block social_image %}
      {% if base_url is defined %}
        <meta name="twitter:image" content="{{ base_url | safe }}/images/jht-profilbilde-e1553101127296-768x693.jpg">
        <meta property="og:image" content="{{ base_url | safe }}/images/jht-profilbilde-e1553101127296-768x693.jpg">
      {% endif %}
    {% endblock %}

    <link rel="stylesheet" href="/css/pico2.jade.min.css">
    <style>
      {{ slurp(name="css/override.css", fallback="/* override.css */") | safe }}
    </style>
    {% if article is defined %}
      <style data-scope-id="{{ article.scoped_css | slugify }}">
        {{ slurp(name=article.scoped_css, fallback="/* not found */") | safe }}
      </style>
    {% endif %}
  </head>
  <body>
  {% block header %}
    <header id="header">
      <div class="nav-wrapper document-width" hx-boost="true" hx-indicator="#loader">
        <nav>
          <ul>
            <li>
              <a href="/" class="brand">
                <img src="/images/brand.png" alt="Profile picture of Jan Henning Thorsen"> Thorsenlabs
              </a>
            </li>
          </ul>
          <ul>
            <li><a href="/">About</a></li>
            <li><a href="/blog">Blog</a></li>
            <li><a href="/contact">Contact</a></li>
          </ul>
        </nav>
      </div>
    </header>
  {% endblock %}

  <dialog id="error_dialog">
    <article>
      <header>
        <h2>Error</h2>
      </header>
      <p>Unknown error.</p>
      <footer>
        <button class="secondary" hx-on:click="thorsen.error()">Close</button>
      </footer>
    </article>
  </dialog>

<progress id="loader" class="loading-indicator"></progress>

{% block content %}<p>content missing!</p>{% endblock %}

{% block footer %}
  <footer id="footer">
    <div class="document-width">
      {% filter markdown %}
&copy; 2024 - Powered by
[Hetzner](https://www.hetzner.com),
[fixi](https://github.com/bigskysoftware/fixi) and
[Rust](https://www.rust-lang.org/).
      {% endfilter %}
    </div>
  </footer>
{% endblock %}

  <script>
// https://github.com/bigskysoftware/fixi/blob/9a99caecda1364073200ff05ad1e6b0e7a2593f1/fixi.js
// And some custom modifications
(()=>{
  if(document.__fixi_mo) return;
  document.__fixi_mo = new MutationObserver((recs)=>recs.forEach((r)=>r.type === "childList" && r.addedNodes.forEach((n)=>process(n))))
  let send = (elt, type, detail, bub)=>elt.dispatchEvent(new CustomEvent("fx:" + type, {detail, cancelable:true, bubbles:bub !== false, composed:true}))
  let attr = (elt, name, defaultVal)=>elt.getAttribute(name) || defaultVal
  let ignore = (elt)=>elt.closest("[fx-ignore]") != null
  let init = (elt)=>{
    let options = {}
    if (elt.__fixi || ignore(elt) || !send(elt, "init", {options})) return
    elt.__fixi = async(evt)=>{
      let reqs = elt.__fixi.requests ||= new Set()
      let form = elt.form || elt.closest("form")
      let body = new FormData(form ?? undefined, evt.submitter)
      if (!form && elt.name) body.append(elt.name, elt.value)
      let ac = new AbortController()
      let target = document.querySelector(attr(elt, "fx-target")) ?? (elt.matches("[fx-action]") ? elt : document.body);
      let cfg = {
        trigger:evt,
        action:attr(elt, "fx-action", elt.action || elt.href),
        method:attr(elt, "fx-method", "GET").toUpperCase(),
        target:target,
        swap:attr(elt, "fx-swap", target == document.body ? "innerHTML" : "outerHTML"),
        body,
        drop:reqs.size,
        headers:{"FX-Request":"true"},
        abort:ac.abort.bind(ac),
        signal:ac.signal,
        preventTrigger:true,
        transition:document.startViewTransition?.bind(document),
        fetch:fetch.bind(window)
      }
      let go = send(elt, "config", {cfg, requests:reqs})
      if (cfg.preventTrigger) evt.preventDefault()
      if (!go || cfg.drop) return
      if (/GET|DELETE/.test(cfg.method)){
        let params = new URLSearchParams(cfg.body)
        if (params.size)
          cfg.action += (/\?/.test(cfg.action) ? "&" : "?") + params
        cfg.body = null
      }
      reqs.add(cfg)
      try {
        if (cfg.confirm){
          let result = await cfg.confirm()
          if (!result) return
        }
        if (!send(elt, "before", {cfg, requests:reqs})) return
        cfg.response = await cfg.fetch(cfg.action, cfg)
        cfg.text = await cfg.response.text()
        if (target == document.body) cfg.text = cfg.text.replace(/.*<body[^>]*>/, "").replace(/<\/body>.*/, "")
        if (!send(elt, "after", {cfg})) return
      } catch(error) {
        send(elt, "error", {cfg, error})
        return
      } finally {
        reqs.delete(cfg)
        send(elt, "finally", {cfg})
      }
      let doSwap = ()=>{
        if (cfg.swap instanceof Function)
          return cfg.swap(cfg)
        else if (/(before|after)(begin|end)/.test(cfg.swap))
          cfg.target.insertAdjacentHTML(cfg.swap, cfg.text)
        else if(cfg.swap in cfg.target)
          cfg.target[cfg.swap] = cfg.text
        else throw cfg.swap
      }
      if (cfg.transition)
        await cfg.transition(doSwap).finished
      else
        await doSwap()
      send(elt, "swapped", {cfg})
      if (!document.contains(elt)) send(document, "swapped", {cfg})
    }
    elt.__fixi.evt = attr(elt, "fx-trigger", elt.matches("form") ? "submit" : elt.matches("input:not([type=button]),select,textarea") ? "change" : "click")
    elt.addEventListener(elt.__fixi.evt, elt.__fixi, options)
    send(elt, "inited", {}, false)
  }
  let process = (n)=>{
    if (n.matches){
      if (ignore(n)) return
      if (n.matches("[fx-action]") || n.matches('a[href^="/"]')) init(n)
    }
    if(n.querySelectorAll) n.querySelectorAll('[fx-action], a[href^="/"]').forEach(init)
    if(n.querySelectorAll) n.querySelectorAll('[on]').forEach((elt)=>{
      const on = new Function('"use strict";return{'+elt.getAttribute('on')+'}')();
      for (k in on) elt.addEventListener(k, on[k])
    })
  }
  document.addEventListener('fx:process', (evt)=>process(evt.target))
  document.addEventListener('DOMContentLoaded', ()=>{
    document.__fixi_mo.observe(document.documentElement, {childList:true, subtree:true})
    process(document.body)
  })
})()
document.addEventListener('fx:after', (evt)=>{
  const elt = evt.target;
  if (elt.hasAttribute('ext-fx-push') || (!elt.matches('[fx-action]') && elt.matches('a'))){
    history.replaceState({fixi:true, url:location.href}, '', location.href)
    history.pushState({fixi:true, url:evt.detail.cfg.response.url}, '', evt.detail.cfg.response.url)
  }
})
window.addEventListener('popstate', async(evt)=>{
  if (evt.state.fixi){
    let historyResp = await fetch(evt.state.url)
    document.documentElement.innerHTML = await historyResp.text()
    document.dispatchEvent(new CustomEvent('fx:process'))
  }
})
  </script>
  <script>
    ((thorsen) => {
      thorsen.error = (err) => {
        const dialog = document.getElementById("error_dialog");
        if (err) {
          dialog.querySelector("p").innerText = err;
          dialog.showModal();
        }
        else {
          dialog.close();
        }
      };

      // document.body.addEventListener('htmx:afterSwap', ({detail}) => {
      //   const $head = document.documentElement.querySelector("head");
      //   for (const $added of detail.elt.querySelectorAll("style")) {
      //     const scopeId = $added.dataset.scopeId;
      //     const $existing = scopeId && $head.querySelector(`[data-scope-id="${scopeId}"]`)
      //     if ($existing) $existing.remove();
      //     document.documentElement.querySelector("head").append($added);
      //   }
      // });
      // 
      // document.body.addEventListener('htmx:responseError', ({detail}) => {
      //   window.thorsen.error(detail.error);
      // });

      const header = document.querySelector('#header');
      const headerHeight = header.offsetHeight;
      let lastScroll = 0;

      window.addEventListener('scroll', () => {
        const currentScroll = window.pageYOffset;

        if (!currentScroll) {
          header.classList.remove('animate');
          header.classList.remove('scrolled');
          header.classList.remove('show');
       }
        else if (Math.abs(currentScroll - lastScroll) < headerHeight) {
          return;
        }
        else if (currentScroll < lastScroll) {
          header.classList.add('animate');
          header.classList.add('show');
        }
        else {
          header.classList.add('scrolled');
          header.classList.remove('show');
        }

        lastScroll = currentScroll;
      });


    })(window.thorsen || (window.thorsen = {}));
  </script>
  <script type="module">
    ((thorsen) => {
      thorsen.syntaxHighlight = async () => {
        const $code_blocks = document.querySelectorAll("pre > code");
        if ($code_blocks.length === 0) return;

        const {codeToHtml} = await import('https://esm.sh/shiki@1.0.0');
        for (const $code_block of $code_blocks) {
          try {
            const lang = $code_block.className.replace(/.*language-(\w+).*/, "$1");
            const $pre = $code_block.closest("pre") || $code_block;
            $pre.outerHTML = await codeToHtml($code_block.innerText, {
              lang: lang || "yaml",
              theme: "tokyo-night",
            });
          } catch (err) {
            console.error($code_block, err);
          }
        }
      };

      document.body.addEventListener('htmx:afterSwap', () => thorsen.syntaxHighlight());
      thorsen.syntaxHighlight();
    })(window.thorsen || (window.thorsen = {}));
  </script>
</body>
</html>
