:root {
  --pico-form-element-spacing-vertical: 0.4em;
  --pico-form-element-spacing-horizontal: 0.7em;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;
  }
}

main > article {
  --pico-block-spacing-vertical: 2rem;
  background-color: transparent;
}

article h1 sub,
article h2 sub,
article h3 sub {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  margin-block-start: 0.5em;
  display: block;
}

#header,
#footer {
  > .document-width {
    padding-inline: var(--pico-block-spacing-horizontal);
  }
}

#header {
  --pico-nav-element-spacing-vertical: 0.5rem;

  .brand:hover {
    text-decoration: none;
  }

  img {
    height: 2.2rem;
    padding-right: 0.3rem;
    margin-top: -1rem;
    vertical-align: bottom;
  }
}

#footer {
  font-size: 0.85em;
  background-color: var(--pico-card-background-color);
  border-block-start: 1px solid var(--pico-table-border-color);
  margin-block-start: 2rem;
  padding-block: 2rem;

  p {
    margin-block: 1rem;
  }
}

.document-width {
  margin-inline: auto;
  max-width: 48rem;
}
