:root {
  --pico-form-element-spacing-vertical: 0.4em;
  --pico-form-element-spacing-horizontal: 0.7em;
  --pico-typography-spacing-vertical: 1.5em;
  --pico-border-radius: 1rem;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;
  }
}

pre {
  border-radius: 0.3rem;
  padding: var(--pico-spacing);
}

main > article {
  --pico-block-spacing-vertical: 2rem;
  background-color: transparent;

  img {
    border-radius: 1rem;
    max-width: 60vh;
  }
}

article h1 sub,
article h2 sub,
article h3 sub {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
  margin-block-start: 0.5em;
  display: block;
}

table {
  td.pre {
    white-space: pre;
  }

  td > input:not([type=checkbox],[type=radio]),
  td > select,
  td > textarea {
    margin: 0 !important;
    width: auto;
  }
}

#header,
#footer {
  > .document-width {
    padding-inline: var(--pico-block-spacing-horizontal);
  }
}

#header {
  --pico-nav-element-spacing-vertical: 0.5rem;

  .brand:hover {
    text-decoration: none;
  }

  img {
    height: 2.2rem;
    padding-right: 0.3rem;
    margin-top: -1rem;
    vertical-align: bottom;
  }
}

#footer {
  font-size: 0.85em;
  background-color: var(--pico-card-background-color);
  border-block-start: 1px solid var(--pico-table-border-color);
  margin-block-start: 2rem;
  padding-block: 2rem;

  p {
    margin-block: 1rem;
  }
}

.document-width {
  margin-inline: auto;
  width: 48rem;
  max-width: 100%;
}

article#about > header {
  overflow: hidden;

  img {
    float: right;
    margin-right: 0;
    max-width: 35%;
    margin-left: 1rem;
    margin-top: -0.5rem;
  }
}

article#arbeidsdager {
  [data-kind="saturday"],
  [data-kind="sunday"] {
    display: none;
  }
}

article#blog,
article#blog-post {
  > h1,
  > h2 {
    margin-block-end: 0.3rem;
  }

  > h1 + p,
  > h2 + p {
    font-size: 0.9rem;
    font-style: italic;
    margin-block-end: var(--pico-spacing);

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

article#curriculum-vitae {
  h1 + p > img {
    float: right;
    width: 25vw;
  }

  h1 + p + table {
    width: auto;
  }
}

/*
 * Useful & Responsive Layouts, no Media Queries required - Kevin Powell
 * https://www.youtube.com/watch?v=p3_xN2Zp1TY
 */
.cluster {
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);

  &.align-top {
    align-items: flex-start;
  }

  &.remove-margin-block-from-children > *{
    margin-block: 0;
  }

  &.children-has-margin-block {
    --grid-spacing-vertical: 0;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > label {
    width: 14rem;
  }
}

.reel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--reel-item-min-width, 100%);
  gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  max-width: 100vw;

  > * {
    scroll-snap-align: start;
  }
}
