{% extends "layouts/base.html" %}

{% block content %}
<main role="document" class="document-width">
  <form action="/moments">
    <fieldset role="group">
      <input type="text" name="q" value="{{ query.q | default(value="") }}" placeholder="Search for moments...">
      <input type="submit" value="Search">
    </fieldset>
  </form>
  <br>

  <div id="moments_chart"></div>

  {% for moment in moments %}
    <article class="moment">
      <header>
        <time datetime="{{ moment.created_at }}">
          {% set created_at = moment.created_at | date | split(pat="-") %}
          {% set c1 = created_at | slice(end=1) | join(sep="-") %}
          {% set c2 = created_at | slice(end=2) | join(sep="-") %}
          {% set c3 = created_at | slice(end=3) | join(sep="-") %}
          <a href="/moments?{{ qs(_=query, d=c1) }}">{{ created_at[0] }}</a>-<a href="/moments?{{ qs(_=query, d=c2) }}">{{ created_at[1] }}</a>-<a href="/moments?{{ qs(_=query, d=c3) }}">{{ created_at[2] }}</a>
        </time>
        {% if moment.ext_url %}
          {% if moment.content | match(re="#order") %}
            <a class="ext-url" href="{{ moment.ext_url }}" title="{{ moment.ext_id }}" data-currency="¤">{{ moment.cost }}¤</a>
          {% else %}
            <a class="ext-url" href="{{ moment.ext_url }}" title="{{ moment.ext_id }}">{{ moment.ext_id }}</a>
          {% endif %}
        {% endif %}
      </header>
      {% if moment.img_url | length > 1 %}
        <a href="{{ moment.ext_url }}"><img class="illustration" src="{{ moment.img_url }}" alt="Moment illustration"></a>
      {% else %}
        <img class="illustration" src="/images/placehold-co-100x100.svg" alt="Moment illustration">
      {% endif %}
      {{ moment.content | markdown | tags_to_links(query=query) | safe }}
    </article>
  {% endfor %}
</main>

<script type="module">
  ((thorsen) => {
    const MILLISECONDS_PER_DAY = 1000 * 60 * 60 * 24;

    const datefromElement = ($el) => $el.closest('.moment').querySelector('[datetime]').getAttribute('datetime');
    const xDomainFromMarkup = ($currencies) => {
      const $last = $currencies.item($currencies.length - 1) || $currencies[0];
      return [$last, $currencies[0]].map($el => new Date(datefromElement($el)));
    };

    thorsen.renderCost = async () => {
      const $currencies = document.querySelectorAll('a[data-currency]');
      if ($currencies.length === 0) return;

      const xDomain = xDomainFromMarkup($currencies);
      const yDomain = [0, 0];

      const groupBy
        = (xDomain[1] - xDomain[0]) / MILLISECONDS_PER_DAY > 90 ? ['setDate', 'setHours', 'setMinutes', 'setSeconds']
        : (xDomain[1] - xDomain[0]) / MILLISECONDS_PER_DAY > 14 ? ['setHours', 'setMinutes', 'setSeconds']
        :                                                         ['setMinutes', 'setSeconds'];

      let data = [];
      for (const $currency of $currencies) {
        const cost = parseFloat($currency.innerText.replace(/[^\d\.]/g, ''));
        const ts = new Date(datefromElement($currency));
        groupBy.forEach(m => ts[m](1));

        if (data.length && data[0].ts.toISOString() === ts.toISOString()) {
          data[0].cost += cost;
        }
        else {
          data.unshift({cost, ts});
          data[0].d = groupBy[0] === 'setDate' ? ts.toISOString().replace(/-\d+T.*/, '') : ts.toISOString().replace(/T.*/, '');
        }

        if (data[0].cost > yDomain[1]) yDomain[1] = data[0].cost;
      }

      const [width, height, margin] = [800, 300, 50];
      const barWidth = Math.min(parseInt((width / data.length) - 8), 40);

      const d3 = await import('https://cdn.jsdelivr.net/npm/d3@7/+esm');
      const $chart = document.getElementById('moments_chart');
      const svg = d3.select($chart).html('').append('svg').attr('viewBox', `0 0 ${width} ${height}`);

      xDomain[0].setDate(xDomain[0].getDate() - (groupBy[0] === 'setDate' ? 31 : 2));
      xDomain[1].setDate(xDomain[1].getDate() + (groupBy[0] === 'setDate' ? 31 : 2));
      const x = d3.scaleTime().domain(xDomain).range([margin, width]);
      const y = d3.scaleLinear().domain(yDomain).range([height - margin, margin]);

      svg.selectAll().data(data)
        .join('a')
        .attr('href', (d) => {
          const url = new URL(location.href);
          url.search = `?d=${d.d}`;
          return url.toString();
        })
        .append('rect')
          .attr('class', 'bar')
          .attr('data-d', (d) => d.d)
          .attr('height', (d) => y(0) - y(d.cost))
          .attr('width', barWidth)
          .attr('x', (d) => x(d.ts) - (barWidth / 2))
          .attr('y', (d) => y(d.cost));

      svg.append('g').attr('class', 'x').attr('transform', `translate(0,${height - margin})`).call(d3.axisBottom(x));
      svg.append('g').attr('class', 'y').attr('transform', `translate(${margin},0)`).call(d3.axisLeft(y));
      $chart.removeAttribute('hidden');
    };

    thorsen.renderCost();
  })(window.thorsen || (window.thorsen = {}));
</script>
{% endblock %}
