article.moment {
  background-color: var(--pico-card-sectioning-background-color);
  border-bottom-right-radius: var(--pico-border-radius);
  border-bottom-left-radius: var(--pico-border-radius);
  overflow: hidden;

  header {
    margin-block-end: 0.5rem;
    padding-block: 0.5rem;
    display: flex;

    > * {
      flex: 1;
    }

    > a {
      flex: 0;
    }

    a {
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  .illustration {
    float: right;
    margin-left: 1rem;
    height: 100%;
  }
}

#moments_chart {
  max-width: 100%;
  height: auto;

  .bar {
    fill: var(--pico-ins-color);
  }

  .x,
  .y {
    color: var(--pico-color);
  }
}
