{% extends "layouts/base.html" %}

{% block title %}Online Proxy Auto-Configuration (PAC) file tester{% endblock %}
{% block description %}This online PAC tester can check if your JavaScript function will send the web browser requests directly to the destination or through a proxy server.{% endblock %}

{% block content %}
<main role="document" class="document-width">
  <article>
    <header>
      <h1>Online proxy PAC file tester</h1>
      <p>
        Enter the content of your Proxy Auto-Configuration (PAC) file and check if your JavaScript function will send
        the web browser requests directly to the destination or through a proxy
      </p>
    </header>

    <form action="/proxyforurl" id="proxy_for_url" method="post">
      <section>
        <label for="pac_rules">
          <span>PAC file</span>
          <textarea id="pac_rules" name="rules" style="height:20rem;max-height:40vh;min-height:5rem;white-space:pre"></textarea>
        </label>
        <div class="grid">
          <label for="pac_url">
            <span>URL</span>
            <input id="pac_url" name="url" placeholder="http://example.com" type="text" value="http://example.com">
          </label>
          <label for="pac_host">
            <span>Host</span>
            <input id="pac_host" name="host" placeholder="From URL" type="text" value="">
          </label>
          <label for="pac_my_ip_address">
            <span>Your IP address</span>
            <input id="pac_my_ip_address" name="my_ip_address" type="text" value="127.0.0.1">
          </label>
        </div>
        <div class="grid">
          <button>Find rule</button>
          <div>&nbsp;</div>
          <div></div>
        </div>
      </section>
      <section>
        <table id="pac_log" role="grid">
          <thead>
            <tr>
              <th>#</th>
              <th>Rule</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td colspan="2">Hit "Find rule" to see log</td>
            </tr>
          </tbody>
        </table>
      </section>
    </form>

    <footer>
      <a href="https://github.com/jhthorsen/app-proxyforurl">This program</a> is free software,
      you can redistribute it and/or modify it under the terms of the
      <a href="https://spdx.org/licenses/Artistic-2.0.html">Artistic License version 2.0</a>.
    </footer>
  </article>
</main>

<script nonce="{{ nonce }}">
  ((thorsen) => {
    const PAC_FUNCTIONS = {
      alert: true,
      dateRange: false,
      dnsDomainIs: true,
      dnsDomainLevels: true,
      dnsResolve: true,
      isInNet: true,
      isPlainHostName: true,
      isResolvable: true,
      localHostOrDomainIs: true,
      myIpAddress: true,
      shExpMatch: true,
      timeRange: false,
      weekdayRange: false,
    };

    class ProxyForURL {
      attach(d) {
        this.form = d.querySelector('#proxy_for_url');
        if (!this.form) return console.warn('Could not find form#proxy_for_url');

        this.basePath = (this.form.action || '/').replace(/\/+$/, '')
        this.logEl = d.querySelector('table#pac_log, form table');
        this.myIpAddressInput = this.form.querySelector('[name=my_ip_address]');
        this.rulesInput = this.form.querySelector('[name=rules]');
        if (!this.myIpAddressInput || !this.rulesInput) return console.error('Could not find all form fields');

        this.form.addEventListener('submit', (e) => [e.preventDefault(), this.findRule()]);
        this._init();
        console.info('ProxyForURL attached to form#proxy_for_url');
      }

      findRule() {
        const AsyncFunction = Object.getPrototypeOf(async function() {}).constructor;
        this._animate(true);

        try {
          const url = new URL(document.querySelector('#pac_url').value);
          this.log(null);
          this.log('FindProxyForURL', [url, url.hostname], null);

          this.findProxyForURL = this.rulesInput.value
              .replace(/function\s+FindProxyForURL[^{]+{/, '')
              .replace(/\}\s*$/, '');

          for (let func of Object.keys(PAC_FUNCTIONS)) {
            const re = new RegExp('\\b' + func + '\\s*\\(', 'g');
            this.findProxyForURL = this.findProxyForURL.replace(re, 'await this._wrap("' + func + '", ');
          }

          this.findProxyForURL = this.findProxyForURL.replace(/\b(new\s|document\.|window\.|cookie\b)/, 'ILLEGAL');

          const fn = new AsyncFunction('url', 'host', this.findProxyForURL).bind(this);
          fn(url.toString(), url.hostname).then(
            (rule) => (this.logEl.querySelector('tbody tr td:last-child').textContent = rule),
            (err) => this.log(String(err), '', 'Error!'),
          ).finally(() => this._animate(false));
        } catch (err) {
          this._animate(false);
          let message = String(err);
          if (err.lineNumber) message += ' at line ' + err.lineNumber;
          if (err.columnNumber) message += ':' + err.columnNumber;
          this.log(message, '', 'Error!');
          throw err;
        }
      }

      log(msg, args, res) {
        const tbody = this.logEl.querySelector('tbody');
        if (msg === null) return tbody.innerHTML = '';
        const cells = [tbody.querySelectorAll('tr').length, msg, JSON.stringify(res)];

        if (args) {
          const prefix = PAC_FUNCTIONS[msg] === false ? '// ' : '';
          args = JSON.stringify(args).replace(/^\[/, '(').replace(/]$/, ')');
          cells[1] = prefix + msg + args;
        }

        const tr = document.createElement('tr');
        for (const content of cells) {
          const td = document.createElement('td');
          td.textContent = content;
          tr.appendChild(td);
        }

        tbody.appendChild(tr);
      }

      async alert() {
        return true;
      }

      async dateRange() {
        return true;
      }

      async dnsDomainIs(host, domain) {
        return host.endsWith(domain);
      }

      async dnsDomainLevels(host) {
        const m = host.match(/\./g);
        return m ? m.length : 0;
      }

      async dnsResolve(host) {
        const body = new FormData();
        body.append('host', host);
        const res = await fetch(this.basePath + '/v1/gethostbyname', {method: 'POST', body});
        const text = await res.text();
        if (res.status >= 500) throw 'dnsResolve() FAIL ' + (text || res.status);
        return text;
      }

      async isInNet(ip, net, mask) {
        // Ex: Turn 255.255.255.0 into 24
        if (mask.match(/\./)) mask = Math.round(mask.split('.').reduce((c, o) => c - Math.log2(256 - o), 32));

        const body = new FormData();
        body.append('ip', ip);
        body.append('net', net);
        body.append('mask', mask);
        const res = await fetch(this.basePath + '/v1/is-in-net', {method: 'POST', body});
        const text = await res.text();
        if (res.status >= 500) throw 'isInNet() FAIL ' + (text || res.status);
        return parseInt(text, 10) ? true : false;
      }

      async isResolvable(host) {
        return await this.dnsResolve(host) ? true : false;
      }

      async isPlainHostName(str) {
        return str.match(/\./) ? false : true;
      }

      async localHostOrDomainIs(host, str) {
        return str.match(/^\./) ? dnsDomainIs(host, str) : host === str ? true : host === host.split('.')[0];
      }

      async myIpAddress() {
        return this.myIpAddressInput.value || this.remoteAddress || '127.0.0.1';
      }

      async shExpMatch(host, re) {
        return host.match(new RegExp(re.replace(/\*/, '.*?'), 'i')) ? true : false;
      }

      async timeRange() {
        return true;
      }

      async weekdayRange() {
        return true;
      }

      _animate(start) {
        const method = start ? 'setAttribute' : 'removeAttribute';
        setTimeout(() => {
          this.form.querySelector('button')[method]('aria-busy', true);
        }, (start ? 1 : 350));
      }

      async _init() {
        const res = await fetch(this.basePath + '/v1/template');
        const text = await res.text();

        if (!this.rulesInput.value) this.rulesInput.value = text;
        const yourIp = text.match(/Your IP: (\S+)/) || [];
        this.remoteAddress = yourIp[1] || '127.0.0.1';
        this.myIpAddressInput.placeholder = this.remoteAddress;
        this.myIpAddressInput.value = this.remoteAddress;
      }

      async _wrap(func) {
        const args = [].slice.call(arguments, 1);
        const res = await this[func].apply(this, args);
        this.log(func, args, res);
        return res;
      }
    }

    document.addEventListener('DOMContentLoaded', () => {
      if (window.ProxyForURL) return;
      window.proxyForURL = new ProxyForURL();
      window.proxyForURL.attach(document);
    });
  })(window.thorsen || (window.thorsen = {}));
</script>
{% endblock %}
