{% extends "layouts/base.html" %}

{% block title %}Online Proxy Auto-Configuration (PAC) file tester{% endblock %}
{% block description %}This online PAC tester can check if your JavaScript function will send the web browser requests directly to the destination or through a proxy server.{% endblock %}

{% block content %}
<main role="document" class="document-width">
  <article>
    <header>
      <h1>Online proxy PAC file tester</h1>
      <p>
        Enter the content of your Proxy Auto-Configuration (PAC) file and check if your JavaScript function will send
        the web browser requests directly to the destination or through a proxy
      </p>
    </header>

    <form action="/pac" id="proxy_for_url" method="post">
      <section>
        <label for="pac_rules">
          <span>PAC file</span>
          <textarea id="pac_rules" name="rules" style="height:20rem;max-height:40vh;min-height:5rem;white-space:pre">
function FindProxyForURL(url, host) {
  // our local URLs from the domains below example.com don't need a proxy:
  if (shExpMatch(host, "*.example.com")) return "DIRECT";
  if (isPlainHostName(host)) return "DIRECT";
  if (localHostOrDomainIs(host, "www.example.com")) return "PROXY local.proxy:8080";
  if (!isResolvable(host)) return "SOCKS4 example.com:1080";
  if (dnsDomainLevels(host) === 4) return "SOCKS4 example.com:1081";
  alert("Checking other rules...");
  alert(myIpAddress());
  // URLs within this network are accessed through
  // port 8080 on fastproxy.example.com:
  if (isInNet(host, "10.0.0.0", "255.255.248.0")) return "PROXY fastproxy.example.com:8080";
  if (dnsDomainIs(host, "le.com")) return "PROXY proxy2.example.com:8888";
  // All other requests go through port 8080 of proxy.example.com.
  // should that fail to respond, go directly to the WWW:
  return "PROXY proxy.example.com:8080; DIRECT";
}
</textarea>
        </label>
        <div class="grid">
          <label for="pac_url">
            <span>URL</span>
            <input id="pac_url" name="url" placeholder="http://example.com" type="text" value="http://example.com">
          </label>
          <label for="pac_host">
            <span>Host</span>
            <input id="pac_host" name="host" placeholder="From URL" type="text" value="">
          </label>
          <label for="pac_my_ip_address">
            <span>Your IP address</span>
            <input id="pac_my_ip_address" name="my_ip_address" type="text" value="127.0.0.1">
          </label>
        </div>
        <div class="grid">
          <button>Find rule</button>
          <div>&nbsp;</div>
          <div></div>
        </div>
      </section>
      <section>
        <table id="pac_log" role="grid">
          <thead>
            <tr>
              <th>#</th>
              <th>Rule</th>
              <th>Result</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>0</td>
              <td colspan="2">Hit "Find rule" to see log</td>
            </tr>
          </tbody>
        </table>
      </section>
    </form>

    <footer>
      <a href="https://github.com/jhthorsen/app-proxyforurl">This program</a> is free software,
      you can redistribute it and/or modify it under the terms of the
      <a href="https://spdx.org/licenses/Artistic-2.0.html">Artistic License version 2.0</a>.
    </footer>
  </article>
</main>
<script nonce="{{ nonce }}" src="{{ src(path="/pac/pac.js") }}"></script>
{% endblock %}
