<style>
:root {
  --pico-form-element-spacing-vertical: 0.4em;
  --pico-form-element-spacing-horizontal: 0.7em;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;
  }
}

article {
  background-color: transparent;
}

article h1 sub,
article h2 sub,
article h3 sub {
  font-size: 0.9rem;
  font-style: italic;
  margin-block-start: 0.5em;
  display: block;
}

#header,
#footer {
  > .document-width {
    padding-inline: var(--pico-block-spacing-horizontal);
  }
}

#header a.brand {
  font-weight: 600;
  text-decoration: underline;
}

#footer {
  font-size: 0.85em;
  background-color: var(--pico-card-background-color);
  border-block-start: 1px solid var(--pico-table-border-color);
  margin-block-start: 2rem;
  padding-block: 2rem;

  p {
    margin-block: 1rem;
  }
}

.document-width {
  margin-inline: auto;
  max-width: 50rem;
}
</style>
