<style>
:root {
  --pico-form-element-spacing-vertical: 0.4em;
  --pico-form-element-spacing-horizontal: 0.7em;
}

html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;
  }
}

article {
  background-color: transparent;
}

article h1 sub,
article h2 sub,
article h3 sub {
  font-size: 0.9rem;
  font-style: italic;
  margin-block-start: 0.5em;
  display: block;
}

.document-width {
  padding-inline: var(--pico-spacing);
  margin-inline: auto;
  width: 100%;
  max-width: 50rem;
}
</style>
