:root {
  --pico-font-size: 115%;
  --pico-form-element-spacing-vertical: 0.4em;
  --pico-form-element-spacing-horizontal: 0.7em;
  --pico-border-radius: 1rem;
  --sub-title-heading-margin: 0.3rem;
  --sub-title-font-size: 0.9rem;
}

html, body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;

  & > main {
    flex: 1;
  }
}

pre {
  font-size: 0.85em;
  border-radius: 0.5rem;
}

main > article {
  --pico-block-spacing-vertical: 2rem;
  background-color: transparent;
}

article > header {
  box-shadow: 0 0 4em 4em var(--pico-card-sectioning-background-color);
  border-bottom: 0;
}

article > header table {
  th,
  td {
    background-color: transparent;
  }
}

table {
  td.pre {
    white-space: pre;
  }

  td > input:not([type=checkbox],[type=radio]),
  td > select,
  td > textarea {
    margin: 0 !important;
    width: auto;
  }
}

#header,
#footer {
  > .document-width {
    padding-inline: var(--pico-block-spacing-horizontal);
  }
}

#header {
  --pico-nav-element-spacing-horizontal: 0.2rem;

  padding-block: 0;
  margin-bottom: calc(var(--pico-nav-element-spacing-vertical) * -1);
  opacity: 0.95;
  z-index: 999;

  &.scrolled {
    transform: translateY(-100%);
    position: sticky;
    top: 0;
  }

  &.animate {
    transition: transform 250ms ease-in-out;
  }

  &.show {
    background-color: var(--pico-background-color);
    transform: translateY(0);
  }

  .brand:hover {
    text-decoration: none;
  }

  img {
    height: 2.2rem;
    padding-right: 0.3rem;
    margin-top: -1rem;
    vertical-align: bottom;
  }
}

#footer {
  font-size: 0.8em;
  background-color: var(--pico-card-sectioning-background-color);
  box-shadow: 0 0 2em 2em var(--pico-card-sectioning-background-color);
  margin-block-start: 3rem;

  p {
    margin-block: 1rem;
  }
}

#loader {
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 500ms ease-in-out;
}

body[aria-busy="true"],
body:has([aria-busy="true"]) {
  &::before {
    display: none !important;
  }

  #loader {
    opacity: 1;
  }
}

#notifications {
  color: var(--contrast);
  position: fixed;
  top: var(--pico-spacing);
  right: var(--pico-spacing);
  z-index: 9999;

  &:empty {
    pointer-events: none;
    top: 0;
    right: 0;
  }
}

.notification {
  background-color: var(--pico-modal-overlay-background-color);
  -webkit-backdrop-filter: var(--pico-modal-overlay-backdrop-filter);
  backdrop-filter: var(--pico-modal-overlay-backdrop-filter);
  color: var(--contrast);
  min-width: 12em;
  padding: 0.3rem 0.7rem;
  margin-bottom: 0.3rem;
  border: 1px solid var(--pico-form-element-border-color);
  border-radius: var(--pico-border-radius);
  box-shadow: var(--pico-box-shadow);
  animation: 500ms 1 fade-in;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateY(-20px); }
  to { opacity: 1; transform: translateY(0); }
}

.document-width {
  margin-inline: auto;
  width: 48rem;
  max-width: 100%;
}

/*
 * Useful & Responsive Layouts, no Media Queries required - Kevin Powell
 * https://www.youtube.com/watch?v=p3_xN2Zp1TY
 */
.cluster {
  padding-inline-start: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);

  &.align-top {
    align-items: flex-start;
  }

  &.remove-margin-block-from-children > *{
    margin-block: 0;
  }

  &.children-has-margin-block {
    --grid-spacing-vertical: 0;
  }

  li {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  > label {
    width: 14rem;
  }
}

.reel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: var(--reel-item-min-width, 100%);
  gap: var(--pico-block-spacing-vertical) var(--pico-block-spacing-horizontal);
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  max-width: 100vw;

  > * {
    scroll-snap-align: start;
  }
}

.dvw {
  width: 100%;
  width: 100vw;
  width: 100dvw;
}

.dvh {
  height: 100%;
  height: 100vh;
  height: 100svh;
  height: -webkit-fill-available;
  height: 100dvh;
}
