{% extends "layouts/base.html" %}

{% block title %}Internal Server Error{% endblock %}
{% block description %}500{% endblock %}

{% block content %}
<main role="document" class="document-width">
  <article id="internal_server_error">
    <h1>Internal Server Error! (500)</h1>
    <p>
      Yikes! This was unexpected... Something went terrible wrong while trying
      to render <a href="">this resource</a>. Maybe you want to
      <a href="/">start over</a> again? You can also <a href="/contact">let us know</a>
      if this was unexpected.
    </p>

    <h2>Details</h2>
    <pre style="white-space:pre-line;padding:var(--pico-spacing)"><small>{{ error }}</small></pre>
  </article>
</main>
{% endblock %}
