article#curriculum-vitae {
  > header {
    img {
      float: right;
      margin-right: 0;
      max-width: 38%;
      margin-left: clamp(1rem, 5vw, 3rem);
      margin-bottom: clamp(1rem, 5vw, 3rem);
      margin-top: -0.5rem;
      border-radius: 1rem;
    }

    @media (max-width: 32rem) {
      display: none;
    }
  }

  h1 + p + table {
    width: auto;
  }

  table td:first-child {
    white-space: pre;
  }
}
